*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* AUTH PAGES (LOGIN / REGISTER) */
.auth-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, blue, gray);
}

.auth-card{
    width: 350px;
    padding: 30px;
    background-color: white;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px black;
}

.auth-card h2{
    text-align: center;
    margin-bottom: 20px;
}

.auth-card input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 17px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    outline: none;
}
.auth-card input:focus{border-color: black;}

/* Buttons */
.auth-card button {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.auth-card button:hover{background: green;}

/* Links */
.auth-card p{
    text-align: center;
    margin-top: 15px;
}

.auth-card a{
    color: blue;
    font-weight: bold;
    text-decoration: none;
}
.auth-card a:hover{color: red;}

/* Login Layout */
.task-actions button {
    padding: 5px 8px;
    font-size: 13px;
}

.refresh-btn, .logout-btn{
    margin-bottom: 15px;
    margin-top: 17px;
    background-color: darkgreen;
    font-size: 17px;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    width: 100%;
}

.login-layout {
    display: flex;
    min-height: 100vh;
}

.login-left {
    flex: 1;
    background: linear-gradient(120deg, #1e3c72, #2a5298);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.login-left h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.login-left p {
    font-size: 18px;
}

.login-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
}

/* Responsive */
@media (max-width: 600px) {
    .auth-card {
        padding: 20px;
    }

    .login-layout {
        flex-direction: column;
    }

    .login-left {
        text-align: center;
    }
}